@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --body-color:#E4E9F7;
    --sidebar-color:#fff;
    --primary-color:blue;
    --primary-color-light:#F6F5FF;
    --toggle-color:#ddd;
    --text-color:rgb(78, 13, 13);
    --sidebar-width:60px;
}
body{
    height: 100vh;
    background: var(--body-color);
}
body.dark{
    --body-color:#18191a;
    --sidebar-color:#2425226;
    --primary-color:#3a383c;
    --primary-color-light:#3a3b3c;
    --toggle-color:#fff;
    --text-color:#ccc;
}

/* ======Resuable css============ */

.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);

}

.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}
/* ======sidebar============ */

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    
    /* background: linear-gradient(45deg, white, rgb(230, 26, 230)); */
    background: var(--sidebar-color);
box-shadow: 0px 0px 40px rgb(180, 185, 189);
padding: 10px 14px;
}
.sidebar.close{
    width: 78px;
    transition: 1s;
}

.sidebar.text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: 2s;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
    transition: 2s;
}

.sidebar li{
    height: 50px;
    /* background-color: brown; */
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    font-size: 20px;
    /*min-width: 60px;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    
}

.sidebar header{
    position: relative;
}
.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}
.sidebar header .image-text{
    display: flex;
    align-items: center;
}


header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: -2px;
}
.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;

/* background-color: #02161065; */
}

.sidebar .search-box{
   background: var(--primary-color-light);
    border-radius: 10PX;
    
   
}

.search-box input{
    height: 100%;
    width: 100%;
    /* background-color: rgb(247, 251, 255); */
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--sidebar-color);
    background: var(--primary-color-light);
}
.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    color:white;
    transition: 0s;
}
.sidebar li a:hover{
    background: var(--primary-color);
color: var(--body-color);
    transform: scaleY(1.2);
    box-shadow: 0px 0px 15px red;
    
}

.sidebar .menu-bar{
  
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}

.menu-bar .mode{
    /* background-color: rgb(214, 153, 153); */
    margin-bottom: 50px;
    border-radius: 10px;
    position: relative;

    background: var(--primary-color-light);
    /* display: flex;
    justify-content: center; */
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
}
.menu-bar .mode i.sun{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    position: absolute;
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
  /* background-color: rgb(150, 119, 74); */
  background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    border: 3px solid rgb(96, 235, 21);
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    /* background-color: white; */
    background: var(--sidebar-color);
    cursor: pointer;

}

body.dark .switch::before{
    left: 24px;

}

.main {
    height: 100vh;
    width: 100vw;
    margin-left: 100px;

background: var(--body-color);
color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}