@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --sidebar-width-value-intial:78px;
    --sidebar-icon-size-initial:28px;
    --sidebar-icon-margin-initial:15px;
    --sidebar-open-width:200px;
    --sidebar-close-width:78px;
    --sidebar-icon-text-size:16px;
    --sidebar-icon-intial-margin:7px 0;
    --sidebar-toggle-btn-size:26px;
    --sidebar-icon-align:center;
    --body-color:#E4E9F7;
    --sidebar-color:#fff;
    --primary-color:blue;
    --primary-color-light:#F6F5FF;
    --toggle-color:#ddd;
    --text-color:rgb(78, 13, 13);
    --sidebar-width:var(--sidebar-close-width);
    --tab-color:rgb(238, 225, 225);
    --tab-text-show:none;
    --tab-icon-size:28px;
    --sidebar-bg-color:rgb(207, 207, 231);
    --color-option-1:rgb(207, 207, 231);
    --color-option-2:rgb(25, 59, 87);
    --tab-text-size:8px;

    --sidebar-sliding-spped:0.3s;
    --sidebar-logo-width:80%;

    /* Sidebar */
    --sidebar-bg-color:var(--primary-color);
    --sidebar-toggler-bg-color:var(--primary-color-light);
    --sidebar-color:var(--primary-color-light);
    --sidebar-toggler-rotate:0deg;
    /* TAB */
    /* --tab-color:rgb(25, 59, 87); */
    --tab-color-hover:var(--primary-color);
    --tab-bg-color-hover:yellow;
    --tab-text-scale:0.2;
    @media only screen and (max-width: 600px),(orientation: portrait) {
        /*--sidebar-width: 400px;*/
        --tab-icon-size: 72px;
        ---tab-text-size:48px;
        --sidebar-toggle-btn-size: 48px;
        --sidebar-close-width: 120px;
        --sidebar-icon-align:start;
        --sidebar-icon-intial-margin: 24px 0;
        --sidebar-icon-text-size: 24px;
    }
}


.page{
    display: flex;
    background-color: white;
}

.sidebar-2{
    background-color: var(--sidebar-bg-color);
     /*background: linear-gradient(45deg,rgb(66, 15, 207),rgb(77, 77, 148));*/
    width: var(--sidebar-width);
    /*height: 100vh;*/
    transition: var(--sidebar-sliding-spped);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top-left-radius: 25px;
    position: relative;
    margin-right: 15px;
    color: var(--sidebar-color);
}
/* .sidebar-2:hover{
    width: 200px;
    --tab-text-show:inline;
    --sidebar-logo-width:50%;
} */
.sidebar-2-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin: 10px 0;
}
.sidebar-2-header img{
    border-radius: 10px;
    margin-bottom: 10px;
    width: var(--sidebar-logo-width);
}
.sidebar-2-body{
    flex:5;
    width: 100%;
    display: flex;
    justify-content: var(--sidebar-icon-align);
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
.sidebar-2-footer{
    flex:1;
    width: 100%;
}
.tab{
    display: flex;
    align-items: center;
    width: 100%;
    margin: var(--sidebar-icon-intial-margin);
    /* padding: 10px  calc(var(--sidebar-width)*.3); */
    padding: 10px  0;
    color: var(--tab-color);
    justify-content: center;
    transition: var(--sidebar-sliding-spped);

}
.tab .icon {
    font-size: var(--tab-icon-size)
}
.sidebar-2 a{
    /* list-style: none; */
    text-decoration: none;
}
.tab-text{
    display: var(--tab-text-show);
    transform: var(--tab-text-scale);
}
.tab .tab-text{
    margin-left: 15px;
    font-size: var(--sidebar-icon-text-size);

}
.tab:hover{
    color: var(--tab-color-hover);
    background-color: var(--tab-bg-color-hover);
}


.sidebar-toggler{
    color: var(--tab-color);
    border-radius: 50%;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:var(--sidebar-toggle-btn-size);
    position: absolute;
    right: -13px;
    top: 20px;
    transform: var(--sidebar-toggler-rotate);
}

.content{
    width: 100%;
    height: 100vh;
    overflow: scroll;


    /*background-color: #1cac07;*/
}


/*Room Page Styles*/
.room-actions{
    display: flex;
    width: max-content;
    padding: 15px 20px 15px 0;
    position: sticky;
    margin-bottom: 18px;
    top: 0;
    /*#007BFF*/
    /*background-color: rgba(119, 39, 205, 0.7);*/
    border-radius: 8px;
    /*border-bottom:1px solid dodgerblue ;*/
    justify-content: space-between;
    align-items: center;

}
.room-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
}
.error-message{
    width: 100%;
    padding: 2px 8px;
    font-weight: bolder;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
}
.error-message i{
    font-size: 24px;
    color: white;
}
.highlight {
    background-color: yellow;!important;
    color: yellow;

}
.action-card{
    padding: 5px 10px;
    /*background-color: #14c3c8;*/
    /*color: white;*/
    width: max-content;
    font-size: 12px;
    border: none;
    border-radius: 8px;
}
.action-card-active{
    background-color: #1cac07;
    color: white;
}

.table-section{
    background-color: white;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    /*display: flex;*/
    justify-content: space-between;
    align-items: center;
}
.page{
    /*background-color: darkkhaki;*/
}
.details-section{
    /*display: grid;*/
    /*grid-template-columns: repeat(2,1fr);*/
    /*row-gap: 10px;*/
    /*grid-column-gap: 10px;*/
    font-size: 1.2rem;
    transition: .67s;
    height: max-content;
    /*border: 1px solid grey;*/
    /*border-radius: 8px;*/
    border-bottom:1px solid blue;
    margin: 16px 0;
    padding: 1rem;
}
.details-section input{
    margin-left: 12px;
    padding: 15px 0 15px 10px;
    /*text-align: center;*/
}
.details-section .row{
    display: flex;
    /*justify-content: space-evenly;*/
    margin: 16px 0;
}
.details-section .col{
    margin: 0 16px;
}

.details-section #show{

}
.input-center input
{
    text-align: center;
}

.reservation-details{
    height: max-content;
    margin-left: 16px;
}
.ui-menu-divider{

}