<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    <div th:fragment="roomTable(rooms)" class="room-table">
        <div th:if="${rooms!=null}">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Room Number</th>
                <th scope="col">Type</th>
                <th scope="col">Total Beds</th>
                <th scope="col">Vacant Beds</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="${'row' +room.number}" class="room_data text-bg-success" th:each="room: ${rooms}">
                <td  th:text="${room.number?:'101'}">101</td>
                <td  th:text="${room.type?:'AC'}">AC</td>
                <td th:text="${room.noOfBeds?:'5'}">5</td>
                <td th:text="${room.noOfBedEmpty?:'2'}">2</td>
                <td th:text="${room.status?:'Available'}">Available</td>
                <td><div>
                    <a th:href="${'/owner/room/'+room.number}" class="btn btn-primary">
                        <i class='bx bxs-book-open'></i>
                    </a>
                </div>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
        <div th:if ="${rooms == null}">
            No Room
        </div>
    </div>
    <div th:fragment="guestTable(guests)" class="room-table">
        <div th:if="${guests != null}">

        </div>
        <div th:if="${guests == null}">
            No Guest Record
        </div>

    </div>

</body>
</html>