<!DOCTYPE html>
<html lang="en" th:fragment="dashboard(title,content)">
<head th:replace="fragments/head::head(${title.toUpperCase()})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="~{fragments/sidebar::sidebar}"></nav>
<th:block th:if="${content.equals('home')}">
    <div th:replace="~{owner/pages/home::page}"></div>
</th:block>
<th:block th:if="${content.equals('rooms')}">
    <div th:replace="~{owner/pages/room::page}"></div>
</th:block>
<th:block th:if="${content.equals('guests')}">
    <div th:replace="~{owner/pages/guest::page}"></div>
</th:block>
<th:block th:if="${content.equals('complains')}">
    <div th:replace="~{owner/pages/complain::page}"></div>
</th:block>
<th:block th:if="${content.equals('invoices')}">
    <div th:replace="~{owner/pages/invoice::page}"></div>
</th:block>


<th:block th:replace="fragments/footer::footer"></th:block>
</body>
</html>