<!DOCTYPE html>
<html lang="en" th:fragment="dashboard(title,content)">
<head th:replace="fragments/head::head(${title.toUpperCase()})">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <div th:replace="~{fragments/sidebar::sidebar-blue(${content})}"></div>-->

<div class="page" th:fragment="sidebar-blue(content)">
    <div class="sidebar-2 ">
        <div class="sidebar-toggler">
            <i class='bx bxs-chevron-right toggle'></i>
        </div>
        <div class="sidebar-2-header">
            <img width="80%"
                 src="https://th.bing.com/th/id/OIP.Sc-pGDkmKH6dLZgbWk-3uAHaHa?w=175&h=180&c=7&r=0&o=5&pid=1.7">
        </div>
        <div class="sidebar-2-body">
            <a class="tab" href="owner?page=guests">
                <i class='bx bxs-user-rectangle icon'></i>
                <span class="text tab-text">GUEST</span>
            </a>
            <a class="tab" href="owner?page=rooms">
                <i class='bx bx-building-house icon'></i>
                <span class="text tab-text">ROOM</span>
            </a>
<!--            <a class="tab" href="owner?page=invoices">-->
<!--                <i class='bx bx-receipt icon'></i>-->
<!--                <span class="text tab-text">INVOICE</span>-->
<!--            </a>-->
            <a class="tab" href="/owner?page=complains">
                <i class='bx bx-comment-edit icon'></i>
                <span class="text tab-text">COMPLAINS</span>
            </a>
        </div>
        <div class="sidebar-2-footer">
            <a class="tab" href="/logout">
                <i class='bx bx-log-out icon'></i>
                <span class="text tab-text">Logout</span>
            </a>
            <div class="tab">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <!-- <i class='bx bx-sun icon sun'></i> -->
                </div>
                <span class="mode-text tab-text ">Light</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <th:block th:if="${content.equals('home')}">
            <div th:replace="~{owner/pages/home::page}"></div>
        </th:block>
        <th:block th:if="${content.equals('rooms')}">
            <div th:replace="~{owner/pages/room::page(room)}"></div>
        </th:block>
        <th:block th:if="${content.equals('guests')}">
            <div th:replace="~{owner/pages/guest::page}"></div>
        </th:block>
        <th:block th:if="${content.equals('complains')}">
            <div th:replace="~{owner/pages/complain::page}"></div>
        </th:block>
        <th:block th:if="${content.equals('invoices')}">
            <div th:replace="~{owner/pages/invoice::page}"></div>
        </th:block>
    </div>
</div>


<th:block th:replace="fragments/footer::footer"></th:block>
</body>
</html>