<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card mb-3">
    <div class="card-header text-bg-primary">
        Guest Details
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label ">
                    FULL NAME
                </label>
                <input class=" form-control" readonly type="text" value="Ajay Kumar">
            </div>
            <label class="input-group-text col-md-6">
                Mobile Number
                <input class=" form-control" readonly type="text" value="5678914231">
            </label>
        </div>
        <div class="row text-center input-center">
            <label class="input-group-text col-md-3">
                BookingDate
                <input class=" form-control" readonly type="text" value="10-02-1999">
            </label>
            <label class="input-group-text col-md-3">
                Guest Status
                <input class=" form-control" readonly type="text" value="Active">
            </label>
            <label class="input-group-text col-md-3 text-bg-success">
                Rent Status
                <input class=" form-control" readonly type="text" value="Paid">
            </label>
            <label class="input-group-text col-md-3 text-bg-secondary">
                Room Validity
                <input class=" form-control " readonly type="text" value="24">
            </label>
        </div>
        <div class="row">
            <label class="input-group-text col input-center">
                Security Money Paid
                <input class=" form-control " readonly type="text" value="2000">
            </label>
        </div>

    </div>
</div>
<div class="card mb-3 ">
    <div class="card-header text-bg-primary">
        Address
    </div>
    <div class="card-body input-center">
        <label class="input-group-text col-12">
            Street
            <input class=" form-control" readonly
                   type="text"
                   value="SNR PG,1st Cross Road,1st Main Road,Ns palya road, BTM Stage 2,BTM Layout">
        </label>
        <div class="row gx-0 ">
            <label class="input-group-text col-md-3">
                State
                <input class=" form-control" readonly type="text" value="Karnataka">
            </label>
            <label class="input-group-text col-md-3">
                City
                <input class=" form-control" readonly type="text" value="Bangalore">
            </label>
            <label class="input-group-text col-md-3">
                Country
                <input class=" form-control" readonly type="text" value="India">
            </label>
            <label class="input-group-text col-md-3">
                Pincode
                <input class=" form-control" readonly type="text" value="800026">
            </label>
        </div>
    </div>
</div>
</body>
</html>