<!DOCTYPE html>
<html lang="en">
<head th:if="${pageName!=null}" th:replace="~{fragments/head::head(${pageName.toUpperCase()})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page">
    <div class="sidebar-2 ">
        <div class="sidebar-toggler">
            <i class='bx bxs-chevron-right toggle'></i>
        </div>
        <div class="sidebar-2-header">
            <img alt="logo"
                 src="https://th.bing.com/th/id/OIP.Sc-pGDkmKH6dLZgbWk-3uAHaHa?w=175&h=180&c=7&r=0&o=5&pid=1.7"
                 width="80%">
        </div>
        <div class="sidebar-2-body">
            <a class="tab" href="/owner">
                <i class='bx bxs-home icon'></i>
                <span class="text tab-text">HOME</span>
            </a>
            <a class="tab" href="/owner/guest">
                <i class='bx bxs-user-rectangle icon'></i>
                <span class="text tab-text">GUESTS</span>
            </a>
            <a class="tab" href="/owner/room">
                <i class='bx bx-building-house icon'></i>
                <span class="text tab-text">ROOMS</span>
            </a>
            <a class="tab" href="/owner/invoice">
                <i class='bx bx-receipt icon'></i>
                <span class="text tab-text">INVOICES</span>
            </a>
            <a class="tab" href="/owner/complain">
                <i class='bx bx-comment-edit icon'></i>
                <span class="text tab-text">COMPLAINS</span>
            </a>
        </div>
        <div class="sidebar-2-footer">
            <a class="tab" href="/logout">
                <i class='bx bx-log-out icon'></i>
                <span class="text tab-text">Logout</span>
            </a>
            <div class="tab">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <!-- <i class='bx bx-sun icon sun'></i> -->
                </div>
                <span class="mode-text tab-text ">Light</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content p-3 overflow-scroll">
        <div class="modal fade" id="create_invoice" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width:600px">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="add_room_model_label">Create New Invoice</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form  th:action="@{'/owner/guest/'+${guest.mobile}+'/invoice'}" th:object="${invoiceForm}" method="post">

                            <!-- Section: Rent Information -->
                            <h5 >Rent Information</h5>
                            <div class="row g-3">
                                <!-- Rent For Month -->
                                <div class="col-md-6">
                                    <label for="rentForMonth" class="form-label">Rent For Month</label>
                                    <select id="rentForMonth" class="form-select" th:field="*{rentForMonth}">
                                        <option th:each="month:${T(java.time.Month).values()}"
                                                th:value="${month}"
                                                th:text="${month}">
                                        </option>
                                    </select>
                                </div>

                                <!-- Rent Amount -->
                                <div class="col-md-6">
                                    <label for="roomRent" class="form-label">Room Rent Amount</label>
                                    <input id="roomRent" type="number"
                                           th:value="${guest.invoices[0].roomRent}"
                                           class="form-control" placeholder="5000"
                                           th:field="*{roomRent}" required />
                                </div>
                            </div>

                            <!-- Section: Additional Charges -->
                            <h5 class="mt-3">Additional Charges</h5>
                            <div class="row g-3">
                                <!-- Additional Amount Paid -->
                                <div class="col-md-6">
                                    <label for="extraAmount" class="form-label">Additional Amount</label>
                                    <input id="extraAmount" type="number" class="form-control" th:field="*{extraAmount}" />
                                </div>

                                <!-- Reason For Additional Amount -->
                                <div class="col-md-6">
                                    <label for="extraAmountNote" class="form-label">Reason for Additional Amount</label>
                                    <input id="extraAmountNote"
                                           th:value="${guest.invoices[0].extraAmountNote}"
                                           type="text" class="form-control" th:field="*{extraAmountNote}"/>
                                </div>
                            </div>

                            <!-- Section: Payment Information -->
                            <h5 class="mt-3">Payment Information</h5>
                            <div class="row g-3">
                                <!-- Amount Paid -->
                                <div class="col-md-6">
                                    <label for="amountPaid" class="form-label">Amount Paid</label>
                                    <input id="amountPaid" type="number" class="form-control" th:field="*{amountPaid}" required/>
                                </div>

                                <!-- Payment Date -->
                                <div class="col-md-6">
                                    <label for="paymentDate" class="form-label">Payment Date</label>
                                    <input id="paymentDate" type="date" class="form-control" th:field="*{paymentDate}" required/>
                                </div>
                            </div>


                            <!-- Submit Button -->


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>

        <a href="/owner/guest"><i class="bx bx-arrow-back fs-2 text-secondary"></i></a>
        <div class="page-title">
            <div class="d-flex justify-content-between mx-4 mb-3">
                <span class="fs-1 text-primary" th:text="${guest.profile.firstName+' '+guest.profile.lastName}">Ajay Kumar</span>
                <a href="/owner/guest/edit"><i class="fs-2 bx bx-edit"></i></a>
            </div>
            <hr/>
        </div>
        <div class="row p-3">
            <div class="row gx-5">
                <div class="col guest-details details-section border rounded p-3">
                    <h3 class="text-secondary">Guest Details</h3>
                    <div class="row">
                        <span class="label col-4 fw-bold">Full Name</span>
                        <span class="value col-8" th:text="${guest.profile.firstName+' '+guest.profile.lastName}">Ajay Kumar</span>
                    </div>
                    <div class="row">
                        <span class="label col-4 fw-bold">Mobile</span>
                        <span class="value col-8 text-primary" th:text="${guest.mobile}">31</span>
                    </div>
                    <div class="row">
                        <span class="label col-4">Age</span>
                        <span class="value col-8" th:text="${guest.profile.age}">24</span>
                    </div>
                    <div class="row hide collapse">
                        <div class="row" th:if="${guest.profile.address.length()}">
                            <span class="label col-4">Address</span>
                            <span class="value col-8" th:text="${guest.profile.address}">SNR PG,1st Cross,1st Main Road,N.S Palya Road, BTM
                        Stage 2, BTM Layout,Bangalore</span>
                        </div>
                        <div class="row" th:if="${guest.profile.city.length()}">
                            <span class="label col-4">City</span>
                            <span class="value col-8" th:text="${guest.profile.city}">Karnataka</span>
                        </div>
                        <div class="row" th:if="${guest.profile.state.length()}">
                            <span class="label col-4">State</span>
                            <span class="value col-8" th:text="${guest.profile.state}">Bihar</span>
                        </div>
                        <div class="row" th:if="${guest.profile.nationality.length()}">
                            <span class="label col-4">Nationality</span>
                            <span class="value col-8" th:text="${guest.profile.nationality}">India</span>
                        </div>
                        <div class="row" th:if="${guest.profile.aadhaarNumber.length() > 0}">
                            <span class="label col-4">Aadhaar</span>
                            <span class="value col-8"
                                  th:text="${guest.profile.aadhaarNumber}">3452-5646-8546-5655</span>
                        </div>
                        <!--                        <div class="row">-->
                        <!--                            <sup class="col">-->
                        <!--                                <hr/>-->
                        <!--                                </sup><span class="col-1">OR</span><sup class="col">-->
                        <!--                            <hr>-->
                        <!--                        </sup>-->
                        <!--                        </div>-->
                        <div class="row" th:if="${guest.profile.passportNumber.length() > 0}">
                            <span class="label col-4">Pan Card</span>
                            <span class="value col-8" th:text="${guest.profile.passportNumber}">GPIK532T</span>
                        </div>
                    </div>

                </div>
                <div class="col reservation-details details-section border rounded p-3">
                    <h3 class="text-secondary">Reservation Details</h3>
                    <div class="row">
                        <span class="label col-6">Booking Date</span>
                        <span class="value col-6" th:text="${guest.checkIN}">23-5-2023</span>
                    </div>
                    <div class="row">
                        <span class="label col-6">Guest Status</span>
                        <span class="value col-6" th:text="${guest.status}">Staying</span>
                    </div>
                    <div class="row">
                        <span class="label col-6">Room Number</span>
                        <a class="value col-6" th:href="@{'/owner/room/'+${guest.room.number}}" th:text="${guest.room.number!=null?guest.room.number:'101'}">
                            101
                        </a>

                    </div>
                    <div class="hide collapse">
                        <div class="row">
                            <span class="label col-6">Security Money Paid</span>
                            <span class="value col-6" th:text="${guest.securityMoney!=null?guest.securityMoney:'2000'}">2000</span>
                        </div>
                        <div class="row">
                            <span class="label col-6">Room Validity</span>
                            <span class="value col-6"
                                  th:text="${guest.roomValidityInDays!=null?guest.roomValidityInDays:'30'}">24</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="guest-invoice">
            <div class="card">
                <div class="card-header text-bg-primary">
                    <div class="d-flex justify-content-between">
                        <span>Rents List</span>
                        <button class="btn btn-warning"
                                data-bs-target="#create_invoice"
                                data-bs-toggle="modal">
                            Create New Invoice
                        </button>
                    </div>

                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Rent For</th>
                            <th>Rent</th>
                            <th>Additional Amount</th>
                            <th>Amount Paid</th>
                            <th>Payment Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="invoice:${guest.invoices}">
                            <td th:text="${invoice.id}">1</td>
                            <td th:text="${invoice.paymentDate.getMonth()}">
                                October
                            </td>
                            <td th:text="${invoice.roomRent}">
                                6000
                            </td>
                            <th:block
                                    th:with="extraAmount=${invoice.extraAmount!=null?invoice.extraAmount:0},
                                    note=${invoice.extraAmountNote!=null?invoice.extraAmountNote:''}">
                                <td th:text="${extraAmount + ' '+ note}">
                                    6000
                                </td>
                            </th:block>

                            <td th:text="${invoice.amountPaid}">
                                6000
                            </td>
                            <td th:text="${invoice.paymentDate}">
                                9-10-2024
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer::footer}"></th:block>
</body>
</html>