<!DOCTYPE html>
<html lang="en">
<head th:if="${pageName!=null}" th:replace="~{fragments/head::head(${pageName.toUpperCase()})}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page">
    <div class="sidebar-2 ">
        <div class="sidebar-toggler">
            <i class='bx bxs-chevron-right toggle'></i>
        </div>
        <div class="sidebar-2-header">
            <img alt="logo"
                 src="https://th.bing.com/th/id/OIP.Sc-pGDkmKH6dLZgbWk-3uAHaHa?w=175&h=180&c=7&r=0&o=5&pid=1.7"
                 width="80%">
        </div>
        <div class="sidebar-2-body">
            <a class="tab" href="/owner">
                <i class='bx bxs-home icon'></i>
                <span class="text tab-text">HOME</span>
            </a>
            <a class="tab" href="/owner/guest">
                <i class='bx bxs-user-rectangle icon'></i>
                <span class="text tab-text">GUESTS</span>
            </a>
            <a class="tab" href="/owner/room">
                <i class='bx bx-building-house icon'></i>
                <span class="text tab-text">ROOMS</span>
            </a>
            <a class="tab" href="/owner/invoice">
                <i class='bx bx-receipt icon'></i>
                <span class="text tab-text">INVOICES</span>
            </a>
            <a class="tab" href="/owner/complain">
                <i class='bx bx-comment-edit icon'></i>
                <span class="text tab-text">COMPLAINS</span>
            </a>
        </div>
        <div class="sidebar-2-footer">
            <a class="tab" href="/logout">
                <i class='bx bx-log-out icon'></i>
                <span class="text tab-text">Logout</span>
            </a>
            <div class="tab">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <!-- <i class='bx bx-sun icon sun'></i> -->
                </div>
                <span class="mode-text tab-text ">Light</span>
                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content p-3 overflow-scroll">
        <a href="/owner/guest"><i class="bx bx-arrow-back fs-2 text-secondary"></i></a>
        <div class="page-title">
            <div class="d-flex justify-content-between mx-4 mb-3">
                <span class="fs-1 text-primary">Ajay Kumar</span>
                <a href="/owner/guest/edit"><i class="fs-2 bx bx-edit"></i></a>
            </div>
            <hr/>
        </div>
        <div class="details-section">
            <div class="card mb-3">
                <div class="card-header text-bg-primary">
                    Guest Details
                </div>
                <div class="card-body">
                    <div class="row">
                        <label class="input-group-text col-md-6">
                            FULL NAME
                            <input class=" form-control" readonly type="text" value="Ajay Kumar">
                        </label>
                        <label class="input-group-text col-md-6">
                            Mobile Number
                            <input class=" form-control" readonly type="text" value="5678914231">
                        </label>
                    </div>
                    <div class="row text-center input-center">
                        <label class="input-group-text col-md-3">
                            BookingDate
                            <input class=" form-control" readonly type="text" value="10-02-1999">
                        </label>
                        <label class="input-group-text col-md-3">
                            Guest Status
                            <input class=" form-control" readonly type="text" value="Active">
                        </label>
                        <label class="input-group-text col-md-3 text-bg-success">
                            Rent Status
                            <input class=" form-control" readonly type="text" value="Paid">
                        </label>
                        <label class="input-group-text col-md-3 text-bg-secondary">
                            Room Validity
                            <input class=" form-control " readonly type="text" value="24">
                        </label>
                    </div>
                    <div class="row">
                        <label class="input-group-text col input-center">
                            Security Money Paid
                            <input class=" form-control " readonly type="text" value="2000">
                        </label>
                    </div>

                </div>
            </div>
            <div class="card mb-3 ">
                <div class="card-header text-bg-primary">
                    Address
                </div>
                <div class="card-body input-center">
                    <label class="input-group-text col-12">
                        Street
                        <input class=" form-control" readonly
                               type="text"
                               value="SNR PG,1st Cross Road,1st Main Road,Ns palya road, BTM Stage 2,BTM Layout">
                    </label>
                    <div class="row gx-0 ">
                        <label class="input-group-text col-md-3">
                            State
                            <input class=" form-control" readonly type="text" value="Karnataka">
                        </label>
                        <label class="input-group-text col-md-3">
                            City
                            <input class=" form-control" readonly type="text" value="Bangalore">
                        </label>
                        <label class="input-group-text col-md-3">
                            Country
                            <input class=" form-control" readonly type="text" value="India">
                        </label>
                        <label class="input-group-text col-md-3">
                            Pincode
                            <input class=" form-control" readonly type="text" value="800026">
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="guest-invoice">
            <div class="card">
                <div class="card-header text-bg-primary">
                    Rents List
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Rent For</th>
                            <th>Rent</th>
                            <th>Payment Date</th>
                            <th>Amount Paid</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                October
                            </td>
                            <td>
                                6000
                            </td>
                            <td>
                                9-10-2024
                            </td>
                            <td>
                                6000
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                September
                            </td>
                            <td>
                                6000
                            </td>
                            <td>
                                9-9-2024
                            </td>
                            <td>
                                6000
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer::footer}"></th:block>
</body>
</html>