<div class="main" th:fragment="page(rooms,room,RoomStatus,error)">
    <div class="modal fade" id="add_room_model" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="add_room_model_label">ADD ROOM FORM</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                    <form  th:action="@{/owner/room}" th:object="${room}" method="post">
                        <!-- Room Number -->
                        <label for="number" class="form-label">Room Number:
                        <input class="form-control" type="number" id="number" placeholder="101" value="101" th:field="*{number}" required /><br>
                        </label>

                        <!-- Floor -->
                        <label for="floor" class="form-label">Floor:
                        <input class="form-control" type="number" id="floor" placeholder="1" value="1" th:field="*{floor}" required /><br>
                        </label>

                        <!-- Number of Beds -->
                        <label for="noOfBeds" class="form-label">Number of Beds:
                        <input type="number" class="form-control" id="noOfBeds" placeholder="2" value="2" th:field="*{noOfBeds}" required /><br>
                        </label>

                        <!-- Room Type -->
                        <label for="type" class="form-label"> Room Type:
                        <input type="text" id="type" th:field="*{type}" placeholder="2 Sharing" value="2 Sharing" class="form-control" required /><br>
                        </label>

                        <!-- Number of Empty Beds -->
                        <label for="noOfBedEmpty" class="form-label">Number of Empty Beds:
                        <input type="number" id="noOfBedEmpty" class="form-control" placeholder="4" value="4" th:field="*{noOfBedEmpty}" required /><br>
                        </label>

                        <!-- Room Status (Assuming RoomStatus is an enum) -->
                        <label for="status" class="form-label">Room Status:
                        <select class="form-select" id="status" th:field="*{status}">
                            <option th:each="state : ${RoomStatus}"
                                    th:value="${state}"
                                    th:text="${state}">Status</option>
                        </select><br>
                        </label>

                        <!-- Submit Button -->


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Add Room</button>
                    </div>
                    </form>
                </div>


            </div>
        </div>
    </div>
    <div class="room-page">
        <div class="row">
            <span class="text-dark fw-normal fs-3">Room List</span>
            <hr/>
        </div>
        <div th:if="${error != null && error.length()>0}" class="error-message text-bg-danger text-warning">
            <th:block th:text="${error}"></th:block>
            <i class='btn-close'></i>
        </div>
<!--        <div class="room-actions row">-->
<!--            <div class="room-search">-->
<!--                <label class="input-group">-->
<!--                    <select class="input-group-text fs-6 fw-semibold">-->
<!--                        <option selected>Room Number</option>-->
<!--                        <option selected>Sharing</option>-->
<!--                        <option selected>Occupancy</option>-->
<!--                    </select>-->
<!--                    <input placeholder="Search" type="text" id="searchInput" class="form-control">-->
<!--                    <button class="input-group-text btn btn-dark" onclick="searchTable()">Search</button>-->
<!--                </label>-->

<!--            </div>-->


<!--        </div>-->
        <div class="table-section d-flex">
            <div>
                <button class="action-card action-card-active" onclick="row_Filter()">
                    ALL
                </button>
                <button class="action-card" onclick="row_Filter('EMPTY')">
                    Available Room
                </button>
                <button class="action-card" onclick=" row_Filter('FILLED')">
                    Filled
                </button>
            </div>

            <div class="d-flex text-end">
                <div class="room-search mx-2">
                    <label class="input-group">
                        <span class="input-group-text">
                            <i class="bx bx-search"></i>
                        </span>
                        <input placeholder="Search here" type="text" id="searchInput" class="form-control" onchange="searchTable()">
                        <select class="input-group-text ">
                            <option selected>Mobile</option>
                            <option>status</option>
                            <option>Payment Status</option>
                        </select>
                        <!--                    <button class="input-group-text btn btn" onclick="">Search</button>-->
                    </label>

                </div>
                <a href="#" class="btn btn-warning" data-bs-target="#add_room_model" data-bs-toggle="modal">Add Room </a>
            </div>
        </div>
            <th:block th:if="${!rooms.isEmpty()}">
             <div th:replace="~{fragments/table.html::roomTable(${rooms})}"></div>
            </th:block>
            <th:block th:if="${rooms.isEmpty()}">
                <div class="d-flex vh-75 justify-content-center align-items-center  fs-2 text-success">No Room In Record</div>
            </th:block>
        </div>


</div>